body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 13px;
    background-color: #f0f3f4;
    line-height: 1.42857143 !important;
    color: #58666e !important;
}

a,
a:hover {
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    color: #2196f3;
    font-weight: bold;
}

input:focus,
textarea:focus {
    outline: none !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    border: 1px solid #ddd !important;
}

select {
    border-radius: 0px !important;
    border: 1px solid #ddd;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

label {
    font-weight: 400;
}

th {
    border-bottom: none !important;
}

td {
    padding: 10px !important;
    border: 1px solid #f4f4f4 !important;
}

ul li {
    list-style: none;
}
.content-header .content-header-tab .active a {
    background: none !important;
}

.right-option-v1 {
    position: absolute;
    right: 0;
}
.right-option-v1 .right-option-v1-icon {
    font-size: 1.4em !important;
    margin-top: 20px;
    cursor: pointer;
}

.content-header {
    background: #f6f8f8;
    border-bottom: 1px solid #ddd !important;
}

.thumbnail {
    border: none !important;
}
/*start: Mega Menu*/

.menu-large {
    position: static !important;
    color: #918c8c !important;
}

.menu-large .sub-megamenu {
    border-right: 1px solid #ddd;
}

.megamenu {
    padding: 20px 0px;
    width: 100%;
    border: none;
    margin-top: -5px !important;
}

.megamenu > li > ul {
    padding: 0;
    margin: 0;
}
.megamenu > li > ul > li {
    list-style: none;
}
.megamenu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 500;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}
.megamenu > li ul > li > a:hover,
.megamenu > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px;
}

/*end: Mega Menu*/
